*{
    padding: 0;
    margin: 0;
}
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #000;
    align-items: center;
}
.nav_items {
 list-style-type: none;
 display: flex;
   &.nav_items a {
color: white;
text-decoration: none;
padding: 10px;
font-size: 14px;
font-weight: 500;
    }
}
.nav_items2 {
  list-style-type: none;
 & a {
 color: white;
 text-decoration: none;
 font-weight: 500;
    }
}
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 20xp;
    color: white;
}
.btn:hover {
    opacity: 0.9;
}
/* section */
section {
    position: relative;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}
.section-inner {
  position: absolute;
  bottom: 200px;
  left: 150px;
  max-width: 560px;  
}
.section-inner p {
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #fff;
}
.section-inner h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}

/* background images */
.section-a {
    background-image: url(./assets/images/space-1.jpg);
}
.section-b {
    background-image: url(./assets/images/space-2.jpg);
}
.section-c {
    background-image: url(./assets/images/space-3.jpg);
}
.section-d {
    background-image: url(./assets/images/space-4.jpg);
}
.section-e {
    background-image: url(./assets/images/space-5.jpg);
}
.btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    min-width: 130px;
    padding: 15px 50px;
    margin-top: 10px;
    border: 2px solid #fff;
    font-weight: bold;
    overflow: hidden;
    z-index: 2;
}
.btn:hover span {
    color: #000;
}
.btn .hover {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #fff;
   color: #000;
   z-index: -2;
transform: translateY(100%);
}
.btn:hover .hover {
    transform: translateY(0);
}
/* footer */
footer {
    position: relative;
    padding: 55px 0;
    background-color: #000;
}
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
}
footer ul li {
    margin-right: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
    list-style-type: none;
    text-decoration: none;
}
footer ul li a {
 color: white;
 transition: color 0.7s;
 list-style-type: none;
 font-size: 14px;
 font-weight: 400;
 list-style-type: none;
 text-decoration: none;   
}


/* animation */
@keyframes fadeinup {
    opacity: 0;
}